[Unit]
Description=Klumba Services
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/klumba_services
ExecStart=/usr/bin/env python3 /root/klumba_services/main.py

[Install]
WantedBy=multi-user.target